label {
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  display: block;
  outline: none;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  font-family: var(--font-family);
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover {
  border: 1px solid #000;
}

label, input {
  margin-bottom: 8px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
  cursor: pointer;
}